<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SelectCourse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcaddServlet</display-name>
    <servlet-name>AcaddServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.AcaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcaddServlet</servlet-name>
    <url-pattern>/AcaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelAcourseServlet</display-name>
    <servlet-name>DelAcourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.DelAcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAcourseServlet</servlet-name>
    <url-pattern>/DelAcourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangepwdServlet</display-name>
    <servlet-name>ChangepwdServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.ChangepwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangepwdServlet</servlet-name>
    <url-pattern>/ChangepwdServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.ceh.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>noLoginPaths</param-name>
      <param-value>login.jsp;register.jsp;LoginServlet;RegisterServlet;relay.jsp;timg.jpg</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CleanServlet</display-name>
    <servlet-name>CleanServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.CleanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanServlet</servlet-name>
    <url-pattern>/CleanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAcourseServlet</display-name>
    <servlet-name>SelectAcourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectAcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAcourseServlet</servlet-name>
    <url-pattern>/SelectAcourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTeacourseServlet</display-name>
    <servlet-name>SelectTeacourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectTeacourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTeacourseServlet</servlet-name>
    <url-pattern>/SelectTeacourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStudentServlet</display-name>
    <servlet-name>SelectStudentServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStudentServlet</servlet-name>
    <url-pattern>/SelectStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStudentServlet</display-name>
    <servlet-name>DelStudentServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.DelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStudentServlet</servlet-name>
    <url-pattern>/DelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAcademyServlet</display-name>
    <servlet-name>SelectAcademyServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectAcademyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAcademyServlet</servlet-name>
    <url-pattern>/SelectAcademyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectClassServlet</display-name>
    <servlet-name>SelectClassServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectClassServlet</servlet-name>
    <url-pattern>/SelectClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProServlet</display-name>
    <servlet-name>SelectProServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProServlet</servlet-name>
    <url-pattern>/SelectProServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTeacherServlet</display-name>
    <servlet-name>SelectTeacherServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTeacherServlet</servlet-name>
    <url-pattern>/SelectTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOfficeServlet</display-name>
    <servlet-name>SelectOfficeServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectOfficeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOfficeServlet</servlet-name>
    <url-pattern>/SelectOfficeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelTeacherServlet</display-name>
    <servlet-name>DelTeacherServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.DelTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTeacherServlet</servlet-name>
    <url-pattern>/DelTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacherServlet</display-name>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectAllcourseServlet</display-name>
    <servlet-name>SelectAllcourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectAllcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllcourseServlet</servlet-name>
    <url-pattern>/SelectAllcourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStateServlet</display-name>
    <servlet-name>UpdateStateServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.UpdateStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStateServlet</servlet-name>
    <url-pattern>/UpdateStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStucourseServlet</display-name>
    <servlet-name>SelectStucourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectStucourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStucourseServlet</servlet-name>
    <url-pattern>/SelectStucourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCourServlet</display-name>
    <servlet-name>SelectCourServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectCourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCourServlet</servlet-name>
    <url-pattern>/SelectCourServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuchooseServlet</display-name>
    <servlet-name>StuchooseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.StuchooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuchooseServlet</servlet-name>
    <url-pattern>/StuchooseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectTcourseServlet</display-name>
    <servlet-name>SelectTcourseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectTcourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTcourseServlet</servlet-name>
    <url-pattern>/SelectTcourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeachooseServlet</display-name>
    <servlet-name>TeachooseServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.TeachooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeachooseServlet</servlet-name>
    <url-pattern>/TeachooseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenServlet</display-name>
    <servlet-name>OpenServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.OpenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenServlet</servlet-name>
    <url-pattern>/OpenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAddcouServlet</display-name>
    <servlet-name>CheckAddcouServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.CheckAddcouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAddcouServlet</servlet-name>
    <url-pattern>/CheckAddcouServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectInfoServlet</display-name>
    <servlet-name>SelectInfoServlet</servlet-name>
    <servlet-class>cn.ceh.Servlet.SelectInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectInfoServlet</servlet-name>
    <url-pattern>/SelectInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>